<!DOCTYPE html>
<html>
<head>
  <title>Bio</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home </a></li>
      <li><a href="/address">Address </a></li>
      <li><a href="/camelcase">CamelCase </a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>